.box1{
    display: flex;
}
img{
    width: 450px;
    margin-top: 100px;
    margin-left:170px;
}
.about1{
    margin-top: 150px;
    margin-left:170px;
}
#about1{
    color:tomato;
    font-size: 50px;
    
}
#about2{
    font-size: 50px;
}
.about2{
    border-left: 5px solid rgb(67, 67, 199);
    margin: 10px;

}
#about3{
    margin-left:15px ;
}
#about4{
    font-weight:500px;
    color: grey;
    margin-top:0px;
    margin-left: 10px;
    font-weight: 800px;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
    background: rgb(212, 65, 55);
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius:10px;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
#about5{
    font-size: 15px;
    color: rgb(125, 125, 243);
    font-weight: bold;
}
#b2{
    color: rgb(50, 97, 3);
}
#b1{
    font-size: 35px;
    margin-top: 80px;
    text-align: center;
    font-weight:800px;
    font-family: arial black;

}
.b4{
    width:300px;
    height: 300px;
    background: rgb(231, 223, 221);
    margin-left: 40px;
    border-radius: 20px;
    
}
#bimage{
    width: 120px;
    margin-left:0px ;
    margin-top: 0px;
}
.b5{
    margin-left: 20px;
    font-family: arial black;
    font-size:15px;
    margin-top: 10px;
}
.b6{
    text-align: justify;
    margin-left: 20px;
    color: rgb(88, 57, 39);
    font-weight:700px;
    margin-bottom:0px;
    
}
#bimage1{
    width: 120px;
    margin-left:0px ;
    margin-top: 0px;
}
.b7{
    width:300px;
    height: 300px;
    background: rgb(142, 202, 157);
    margin-left: 40px;
    border-radius: 20px;
  
}
#b6{
    margin-left: 20px;
    font-family: arial black;
    font-size:15px;
    margin-top: 10px;
}
#b5{
    text-align: justify;
    margin-left: 20px;
    color: rgb(49, 38, 31);
    font-weight:700px;
    margin-bottom:0px;
}
#bimage2{
    width: 120px;
    margin-left:0px ;
    margin-top: 0px;

}
#c6{
    margin-left: 20px;
    font-family: arial black;
    font-size:15px;
    margin-top: 10px;
}
#c7{
    text-align: justify;
    margin-left: 20px;
    color: rgb(206, 199, 194);
    font-weight:700px;
    margin-bottom:0px;
}
.b8{
    width:300px;
    height: 300px;
    background: rgb(107, 146, 168);
    margin-left: 40px;
    border-radius: 20px;
   
}
.b3{
    display: flex;
    margin-left: 140px;
}

#dimage1{
    margin-left: 50px;
    display: inline;
}
.ddd{
    display: flex;
    margin-left: 50px;
}
.dsa{
    width: 500px;
    margin-left: 100px;
    margin-top: 150px;
}
#dh{
    font-size: 40px;
    color: rgb(58, 58, 58);
}
.dff{
    text-align: justify;
    color: rgb(122, 77, 77);
    font-weight: bolder;
}
.kkk{
    margin-left: 150px;
    margin-top: 130px;
}
.ooo{
    display: flex;
}
#hhh{
    font-size: 40px;
    color: indianred;
}
.dff{
    text-align: justify;
    color: rgb(122, 77, 77);
    font-weight: bolder;
}
#ttt{
    color: rgb(15, 4, 4);
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    font-family: arial black;
}
#ttd{
    color: rgb(204, 82, 34);
}
#iii{
    width: 400px;
   
    
}
.mm{
    display: flex;
}
#mmm{
    margin-left: 350px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: arial black;
}
#nn{
    color: rgb(161, 88, 88);
}
#bbb{
    margin-left: 350px;
    font-weight: bold;
    color:rgb(62, 112, 161)
}
#cc{
    text-decoration: none;
    display: block;
    background: rgb(212, 65, 55);
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius:10px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-left: 350px;
}